@CHARSET "UTF-8";

body {
	background-color: #191D1F;
	color: #D4D6D6;
	text-align: center;
}

#container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	padding: 20px;
	width: 1160px;
	border-style: solid;
	border-width: 5px;
	border-color: #114F96;
	background-color: black;
	color: #114F96;
}

#icon {
	width: 180px;
	float: left;
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#name {
	width: 900px;
	float: left;
	font-size: 80px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#gameArea {
	width: 1160px;
	padding: 20px;
}

.halfGameArea {
	width: 550px;
	padding: 10px;
	float: left;
	margin: 0,auto;
	min-height: 600px;
}

#scoreImage {
	height: 230px;
	margin-top: 70px;
}

.scoreTitle {
	width: 210px;
	font-size: 25px;
	float: left;
	margin: 0, auto;
	padding: 10px;
	margin-top: 50px;
}

.scoreNumber {
	width: 210px;
	font-size: 40px;
	float: left;
	margin: 0, auto;
	padding: 10px;
}

.gameButton, .gameButtonDisabled {
	background-color: purple;
	width: 110px;
	margin: 10px;
	font-size: 20px;
	float: left;
	margin-top: 30px;
	padding: 4px;
	height: 50px;
	line-height: 50px;
}

.gameButtonDisabled {
	opacity: 0.7;
	pointer-events: none;
}

.gameButton:HOVER {
	background-color: #621C91;
	cursor: pointer;
}

.gameButton:ACTIVE {
	background-color: #590F81;
	cursor: pointer;
}

#nextNumberButton {
	width: 150px;
}

#newCardButton {
	width: 140px;
}

#startButton {
	width: 90px;
}


#bingoCardId.bingoCardClass, #bingoCardId.bingoCard1, #bingoCardId.bingoCard2, #bingoCardId.bingoCard3, #bingoCardId.bingoCard4 {
	width: 506px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	color: black;
	margin: 0 auto;
}

.bingoCard1 {
	background-color: blue;
}

.bingoCard2 {
	background-color: green;
}

.bingoCard3 {
	background-color: yellow;
}

.bingoCard4 {
	background-color: red;
}


#numbers {
	border: solid;
	border-width: 2px;
	border-color: black;
	width: 474px;
	margin: 0 auto;
}

.field, .fieldDrawn, .fieldWon  {
	font-size: inherit;
	float: left;
	width: 92px;
	height: 92px;
	line-height: 92px;
	border: solid;
	border-color: black;
	border-width: 2px;
}

.field {
	background-color: white;
}

.fieldDrawn {
	background-color: yellow;
}

.fieldWon {
	background-color: green;
}


.field:HOVER {
	background-color: #E6E6E6;
}

.fieldDrawn:HOVER {
	background-color: #edd400;
}

.fieldWon:HOVER {
	background-color: #1b5a02;
}

.fieldHeader {
	font-size: inherit;
	float: left;
	width: 88px;
	height: 88px;
	line-height: 88px;
	margin: 0 auto;
	padding: 2px;
	cursor: default;
}

#cardHeader.cardHeadercolor1, #cardHeader.cardHeadercolor2, #cardHeader.cardHeadercolor3, #cardHeader.cardHeadercolor4 {
	width: 476px;
	font-weight: bold;
	font-size: 80px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	border: solid;
	border-color: black;
	border-width: 2px;
}

.cardHeadercolor1 {
	background-color: green;
}

.cardHeadercolor2 {
	background-color: red;
}

.cardHeadercolor3 {
	background-color: blue;
}

.cardHeadercolor4 {
	background-color: yellow;
}

#cardNumber {
	font-size: 40px;
	width: 480px;
}

#free {
	background-color: #E34B4B;
}

#free:HOVER {
	background-color: #E53333;
}


#footer {
	
}
